:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.home {
  background-image: url("https://imgs.search.brave.com/3LDxPhmx9a-EGYJMo3a9ZnTG8R6r66Elc1m6PlwP708/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9saXZl/LnN0YXRpY2ZsaWNr/ci5jb20vNjU1MzUv/NDkxMjc5NjE1Mjhf/M2ViYzRjMThkMl9j/LmpwZw");
  background-size: cover;
  padding: 8px;
  text-align: center;
  height: 1000px;
}

.homeText {
  background-color: rgb(48, 168, 138);
  padding: 8px;
  margin: auto;
  width: 50%;
  text-indent: 12px;
  text-align: left;
  border-radius: 12px;
  font-size:30px;
}

.signUp {
  margin-left:50%;
  background-color: rgb(34, 53, 150);
  padding: 8px;
  color: white;
  text-align: center;
  border-radius: 12px;
  width: 35%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size:larger;
}

header {
  padding: 8px;
  background-color: rgb(150, 76, 34);
  text-align: center;
}

header nav {
  padding: 8px;
}

header nav a {
  font-size: 1.5rem;
}

.artistName {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  font-style: italic;
  color: red;
}

.setName {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-style: italic;
  color: blue;
}

.container {
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size:xx-large;
}

.container a {
  font-size:xx-large;
}

.card {
  margin: 5px 0;
  padding: 20px;
  width: 100%;
  max-width: 550px;
  color: black;
  border: 1px solid grey;
  border-radius: 12px;
  background-color: rgb(15, 119, 32);
  background-image: url("https://imgs.search.brave.com/sV5E5-XqkhEz6mAx4iDT9zI5fwXNfZLGnEEuc5-vQgg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA5LzEwLzk2Lzgy/LzM2MF9GXzkxMDk2/ODI4MV9wZ0RiVldQ/ckdrRU9nNlJkVU5J/MUtVZFBhalM5Y3Za/bS5qcGc");
  background-size: cover;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

input, select {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width:70px;
  text-align:center;
  display:inline-block;
}

.submitButton:hover {
  background-color: #218838;
}

.card img {
  display: inline-flex;
  width: 300px;
  height: 300px;
  vertical-align: middle;
}

.cardText {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: solid 1px black;
  background-color: rgb(33, 136, 52);
  border-radius: 20px;
  overflow-wrap:break-word;
  hyphens:auto;
  width:fit-content;
  padding: 5px;
}

.card button {
  display:inline-flex;
  background-color: rgb(255, 0, 106);
  color: white;
  border-radius: 20px;
}

.filter{
  margin-left:43%;
  text-align:center;
  width:fit-content;
  background-color:magenta;
  border: 20px solid blueviolet;
}

textarea {
  vertical-align: top;
}

.edit {
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
  text-align: top;
  vertical-align: top;
}

body { background: #222; color: white; }

.left, .right { width: 50%; float: left; }

.left  { text-align: right; }
.right { text-align: left;  }


span   { font-family: sans-serif; line-height: 20px; font-weight: bold;     }
input  { width: 200px;            height: 30px;      box-sizing:border-box; }
select { width: 200px;            height: 30px;      box-sizing:border-box; }

.positiveAlert {
  padding: 20px;
  background-color: chartreuse;
  color: white;
  text-align: center;
}

.negativeAlert {
  padding: 20px;
  background-color: red;
  color: black;
  text-align: center;
}

.cardTitle {
  font-family:Impact, Haettenschweiler;
  font-weight:bold;
  margin-left:15px;
  padding: 5px;
  background-color:rgb(15, 119, 32);
  border-style: solid;
  border-color: black;
  width:fit-content;
}